.form-container {
  padding: 2em;
  font-size: 1rem;
}

.form-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  width: 37%;
}

.header-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}

#right-item {
  width: 50%;
}

input,
select {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0.3em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.date-picker {
  margin: 0;
  height: 2em;
  width: 50%;
}

.warning-message {
  color: red;
}
