.form-container {
  font-size: 1rem !important;
  padding: 2em;

  .form-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    width: 50%;

    .header-row {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 0;
      width: 100%;
    }
  }

  #right-item {
    padding: 0.7em;
    width: 50%;
  }

  input,
  select {
    border-radius: 5px;
    padding: 0.5em;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .date-picker {
    margin: 0;
    height: 2em;
    width: 50%;

    .react-date-picker__inputGroup__input {
      height: auto;
    }
  }

  .form-body {
    border: 1px solid #000000;
    width: 100%;
    margin: 1em 0;

    .select-product {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em 0;
      width: 50%;
    }
  }

  .warning-message {
    color: red;
  }
}

@media screen and (max-width: 700px) {
  .form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h1 {
      margin-bottom: 0.5em;
    }
  }

  #mobile form {
    display: contents;
  }

  #mobile .form-header {
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
  }

  #mobile .header-row {
    display: flex;
    flex-direction: column;
  }

  #mobile .form-
}
